* {
  margin:0;
  box-sizing:border-box;
  padding:0;
}



.header {
  
  background-color:#F1F5FE;
  border-bottom-left-radius:191.5px;
      min-width: 100%;
    height: 100vh;
      z-index: 2;
      position: relative;
}

.header h1 {
      font-family: Manrope;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.32px;
    text-align: center;
    padding: 89px 32px 8px 31px;
}

.header p {
  
  font-family: Manrope;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
  color:#848EAD;
}



.circle {
    position: absolute;
    background-color: transparent;
    width: 126px;
    height: 126px;
    top: 76px;
    left: 115px;
    border: 1px solid rgba(207, 216, 239, 1);
    border-radius: 78px;
      z-index: -1;


}

.circle-2 {
    width: 82px;
    height: 82px;
    top: 57px;
    left: 179px;
    border: 1px solid rgba(207, 216, 239, 1);
    display: block;
    position: absolute;
    border-radius: 346px;
      z-index: -1;


}

.switch {
  
  position:relative;
  display: flex;
  width: 43px;
  height: 23px;

}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(207, 216, 239, 1);

}

.slider:before {
 position: absolute;
 content: "";
 height: 14px;
 width: 14px;
 left: 4px;
 bottom: 4px;
 background-color: rgba(255, 255, 255, 1);

}

input:checked + .slider {
 background-color: rgba(122, 234, 223, 1);
}

input:focus + .slider {
 box-shadow: 0 0 1px rgba(122, 234, 223, 1);
}


input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

.slider.round {
 border-radius: 15px;
}

.slider.round:before {
 border-radius: 50%;
}


.pricing-text h2{
     font-family: Manrope;
   font-size: 12px;
   font-weight: 800;
   line-height: 16.39px;
   letter-spacing: 1.7142857313156128px;
   text-align: center;
   color: rgba(132, 142, 173, 1);
   padding: 25px;
}


.pricing-info{
     border: 1px solid rgba(255, 255, 255, 1);
   text-align: center;
   border-radius: 8px;
   border-color: rgba(127, 137, 185, 0.15);
   box-shadow: 0px 20px 46px -5px rgb(127 137 185 / 30%);
   position: absolute;
   margin: 24px;
   top: 234px;
    z-index: 3;
    left: 15px;
    background-color: white;
}

.toggle-switch {
     display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.list ul li {

  list-style: none;
}